


<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dune: Imperium</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
<div class="row no-gutters" style="height: 100vh;">
<div class="col-md-6 bg-dark">
<div class="d-flex flex-column justify-content-center align-items-center h-100">
<h1 class="text-white display-1">DUNE: IMPERIUM</h1>
<p class="text-white lead">一款基于经典策略游戏《沙丘》的宏大策略游戏。</p>
<a href="/game-details" class="btn btn-primary btn-lg">了解更多</a>
</div>
</div>
<div class="col-md-6" style="background-image: url('https://cdn.boardgamegeek.com/images/product/266936/dune-imperium_large.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

